@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #222222;
  --primary-blue: #513dff;
  --lavender-light: #cfc9ff;
  --lavender-lighter: #e2dfff;
  --primary-drop-shadow: rgba(0, 0, 0, 0.05);
}
